/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 5px;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

:root {
    --background-gradient: var(--Pastel-rainbow-gradient);
    --Bright-rainbow-gradient: #9e00ff linear-gradient(to left,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 95, 0, 1) 8%,
    rgba(255, 158, 0, 1) 14%,
    rgba(255, 187, 0, 1) 20%,
    rgba(255, 212, 0, 1) 27%,
    rgba(255, 236, 0, 1) 32%,
    rgba(203, 245, 3, 1) 35%,
    rgba(151, 254, 5, 1) 39%,
    rgba(46, 255, 9, 1) 44%,
    rgba(18, 255, 109, 1) 48%,
    rgba(0, 255, 175, 1) 54%,
    rgba(2, 255, 252, 1) 59%,
    rgba(2, 245, 251, 1) 62%,
    rgba(1, 216, 249, 1) 65%,
    rgba(0, 187, 246, 1) 69%,
    rgba(0, 148, 246, 1) 72%,
    rgba(0, 64, 247, 1) 78%,
    rgba(0, 13, 247, 1) 83%,
    rgba(93, 5, 252, 1) 91%,
    rgba(158, 0, 255, 1) 100%) no-repeat;
    --Pastel-rainbow-gradient: linear-gradient(to left, #dff7bd, #40f2ec, #add2ed, #ffb2ff);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: var(--background-gradient);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}

.theme-button {
    justify-content: flex-end;
    text-transform: uppercase;
}

h1 {
    width: fit-content;
    padding-top: 15px;

}

h4 {
    margin-top: 0;
}

.lushboypink      {color:#FFB2FF;}
.lushboyfoggy     {color:#ADD2ED;}
.lushboyturquoise {color:#40F2EC;}
.lushboylemon     {color:#DFF7BD;}

.angel, .luca {

    display: flex;
    /*grid-template-columns: 1fr 1fr 3fr;*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: ivory dashed thin;
    margin: 5px auto;
    position: relative;
    padding: 0 0 5px 5px;

}

.angel {
    grid-column-start: 1;
}
.luca {
    grid-column-start: 2;
}

#lucaState, #angelState {
    padding-block: 0;
}


#angelButton, #lucaButton {
    max-width: 100%;
}

@media screen and (min-width:901px) {
    .item {
        width: 30%;
    }
    #angelButton, #lucaButton {
        max-width: 100%;
        /*font-size: 1.5vw;*/
    }
}
@media screen and (max-width: 900px) {
    .item {
        width: 50%;
    }
    #angelButton, #lucaButton {
        /*font-size: 1vw;*/
    }
}
@media screen and (max-width: 600px) {

    .item {
        width: 100%;
    }
    #angelButton, #lucaButton {
        /*font-size: 10vw;*/
    }
}