<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Martel+Sans:wght@300&family=Martel:wght@400;900&family=Podkova:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href={{ url_for("static", filename='styles.css' ) }} />
    <link rel="icon" href={{ url_for("static", filename='favicon.png' ) }} type="image/x-icon" />
    <!-- Photo by Rachael Gorjestani on Unsplash: https://unsplash.com/@rachaelgorjestani?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
   -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="flex">
        <h1><a href="/">Focus Pods</a></h1>
    </div>
    {% block content %}
    {% endblock %}

</body>

</html>