{% extends "base.html" %}
{% block title %}Welcome to Focus Pods!{% endblock %}
{% block content %}
<div class="mobile-container">
    <div class="main-content">
        <ul>
            <li>Focus together with your friends or teammates</li>
            <li>Help each other stay in flow</li>
            <li>Keep track of who is heads-down and who is
                not</li>
        </ul>
    </div>
    <div class="btn-container main-content">
        <button id="sign-up-btn">Sign Up</button>
        <button id="login-btn">Login</button>
    </div>
</div>
<script type="text/javascript" src={{ url_for("static", filename='app.js' ) }}></script>
{% endblock %}