{% extends "base.html" %}
{% block title %}Sign Up for Focus Pods!{% endblock %}
{% block content %}
<div class="main-content">
    <h2>Log in here!</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <ul class="flex-form flex">
            <li class="form-item">
                <label for="username">Username: </label>
                <input type="text" id="name-input" name="username">
            </li>
            <li class="form-item">
                <label for="password">Password: </label>
                <input type="password" id="password-input" name="password">
            </li>
            <li class="form-item">
                <input type="submit" name="submit" value="Submit">
            </li>
    </form>
</div>
{% endblock %}