{% extends "base.html" %}
{% block title %}Focus Pods{% endblock %}
{% block content %}
<div class="main-content">
    <h2>Hello, {{ user.title() }}! Welcome to {{ room.Room.name }}!</h2>
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <p>In this room...</p>
    <ul>
        {% for user in room.Room.users %}
        <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
    <!-- <h3>Which pod would you like to go to?</h3>
    {% for row in pods %}
    <p class="bulleted">{{ row.name }}</p>
    {% endfor %}
    <p id="makeNewPodEl" class="bulleted">Make a new pod</p>
    <form action="#" method="post" class="flex-form flex">
        <ul>
            <li class="form-item">
                <input type="text" id="podName" placeholder="Give it a good name!" name="room_name">
            </li>
            <li class="form-item">
                <input id="newPodSubmit" type="submit" value="Create">
            </li>
        </ul>


    </form> -->
</div>
{% endblock %}
