{% extends "base.html" %}
{% block title %}Focus Pods{% endblock %}
{% block content %}
<div class="main-content">
    <h2>Hello, {{ user.title() }}! Welcome to {{ room.Room.name }}!</h2>
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <p>In this room...</p>
    <ul>
        {% if room.Room.users.count() > 1 %}
            {% for user in room.Room.users %}
            <li>{{ user.name }}</li>
            {% endfor %}
        {% else %}
            <li>There are no other users in this room.</li>
            <li>Why not invite some friends?</li>
        {% endif %}
    </ul>
</div>
{% endblock %}
